<ion-view view-title="Калькулятор">
    <ion-content class="background">
        <form name="calculateForm">
            <div class="card">
                <div class="item item-divider">Введите стороны потолка:</div>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Длина потолка (м)*</span>
                    <input ng-model="ceiling.a" ng-disabled="ceilingAnother.s || ceilingAnother.p" type="number" ng-minlength="1" placeholder="Длина потолка (м)*" ng-change="ceilingPerimetrArea()">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Ширина потолка (м)*</span>
                    <input ng-model="ceiling.b" ng-disabled="ceilingAnother.s || ceilingAnother.p" type="number" ng-minlength="1" placeholder="Ширина потолка (м)*" ng-change="ceilingPerimetrArea()">
                </label>
            </div>
            <div class="card">
                <label class="item item-input item-stacked-label">
                    <span class="input-label"><strong>Периметр (м)</strong></span>
                    <p><b>{{perimetr}}</b></p>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label"><strong>Площадь (м²)</strong></span>
                    <p><b>{{area}}</b></p>
                </label>
            </div>
            <div class="card">
                <div class="item item-divider">Или площадь и периметр:</div>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Площадь многоугольного потолка(м²)*</span>
                    <input ng-disabled="ceiling.a || ceiling.b" type="number" ng-model="ceilingAnother.s" ng-minlength="1" placeholder="Введите площадь многоугольного потолка (м²)*" ng-change="ceilingPerimetrAreaAnother()">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Периметр многоугольного потолка(м)*</span>
                    <input ng-disabled="ceiling.a || ceiling.b" type="number" ng-model="ceilingAnother.p" ng-minlength="1" placeholder="Введите периметр многоугольного потолка (м)*" ng-change="ceilingPerimetrAreaAnother()">
                </label>
            </div>
        </form>
        <div class="text-center">
            <button class="button button-positive" type="submit" ng-click="goMaterials()">
                Далеe
            </button>
        </div>
    </ion-content>
</ion-view>
