<ion-view view-title="Каталог продукции" cache-view="true">
    <ion-content class="background">
        <div class="row responsive-sm responsive-md responsive-lg center-bold">
            <div class="col">
                <p>Компания "Аста М" предлагает в Нижнем Новгороде свои услуги - монтаж натяжных потолков по честной цене. Нижегородское представительство московской фабрики организовывает прямые поставки материалов, поэтому стоимость продукции и услуг, как и их качество, Вас приятно удивят.</p> 
                <p>Квалифицированный персонал всегда готов внимательно отнестись к просьбам и пожеланиям клиентов и предложить то решение, которое наиболее точно будет отвечать запросам каждого.</p>
            </div>
        </div>
        <div class="row responsive-sm responsive-md responsive-lg">
        	<div class="col">
                <button class="button button-block button-positive" 
                onclick="window.open('http://astam.ru/images/diler/prays_list1.pdf', '_system', 'location=yes')">
                Скачать pdf</button>
        	</div>
        </div>
    </ion-content>
</ion-view>
