.background {
  background: #e5e3e4; }

a {
  text-decoration: none; }

.menu-size {
  font-size: 1.2rem;
  line-height: 1; }

.menu-margin {
  margin-left: 5px; }

.menu-logo {
  max-width: 100%;
  height: auto; }

.contacts {
  font-weight: bold;
  margin-left: 12px; }

.contacts-color {
  margin-left: 12px;
  color: #3663be; }

.contacts-center {
  font-weight: bold;
  text-align: center;
  margin-top: 5px; }

#maps {
  width: 100%;
  height: 100%; }

.scroll {
  height: 100% !important; }

#map {
  width: 100% !important;
  height: 100% !important; }

.slider-width {
  width: 100%; }

.center-bold {
  text-align: center;
  font-weight: bold; }

.left-table {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: #99a7d1;
  text-align: center; }

.right-table {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: #99a7d1; }

.title-card {
  text-align: center;
  background: #3663be;
  color: #fff; }

.menu-size {
  font-size: 1.2rem;
  line-height: 1; }

.menu-margin {
  margin-left: 5px; }

.menu-logo {
  max-width: 100%;
  height: auto; }

.order-name {
  width: 60%;
  margin: 0px auto;
  border: 1px solid #000; }

.order-email {
  width: 60%;
  margin: 0px auto;
  margin-top: 1%;
  border: 1px solid #000; }

.order-phone {
  width: 60%;
  margin: 0px auto;
  margin-top: 1%;
  border: 1px solid #000; }

.order-button {
  margin-top: 3%; }

.order-cost {
  text-align: center;
  font-size: x-large; }

.categies {
  width: 40%;
  display: inline-block;
  text-align: center;
  margin-left: 5%; }

.margin-top {
  margin-top: 3%; }

.contacts-textarea {
  resize: none; }

.desc-title {
  border: 1px solid #fff;
  background: #677fc4; }

.desc-padding-left {
  padding-left: 2%; }

/*** Swiper style ***/
.swiper-container {
  margin-top: 5px;
  width: 380px;
  height: 285px; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

/* youTube player */
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  border: 0; }
